[Unit]
Description=KijaniKiosk Payments Service
Documentation=https://github.com/GIOVESS/kijanikiosk-devops-foundation
After=network.target kk-api.service
Wants=kk-api.service

[Service]
Type=simple
User={{ service_name }}
Group={{ service_group }}
EnvironmentFile={{ config_dir }}/{{ env_filename }}
ExecStart=/bin/sleep infinity
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal
SyslogIdentifier={{ service_name }}

NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
PrivateUsers=yes
ProtectSystem=strict
ProtectHome=yes
ProtectHostname=yes
ProtectClock=yes
ReadWritePaths={{ log_dir }}
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
ProtectProc=invisible
ProcSubset=pid
RestrictAddressFamilies=AF_INET AF_UNIX
RestrictNamespaces=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service @network-io
SystemCallErrorNumber=EPERM
CapabilityBoundingSet=
AmbientCapabilities=
IPAddressDeny=any
IPAddressAllow=localhost 10.0.1.0/24
UMask=0077

[Install]
WantedBy=multi-user.target
